body {
}

.clear {
  clear: both;
}

#top-header {
  position: relative;
  margin: auto;
  max-width: 600px;
  padding: 15px;
  padding-top: 5px;
}

#top-header>.header-left-container {
  float: left;
}

#top-header>.header-right-container {
  float: right;
}

#top-header>.header-left-container, #top-header>.header-right-container {
  text-decoration: none;
}

#top-header>.header-left-container span, #top-header>.header-right-container span {  
  color: #428bca;
  margin: 10px;
  padding: 5px;
}

.main-container {
  padding: 30px;
}

.block-panel {
  margin: auto;
  max-width: 600px;
  padding: 15px;
}
.block-panel .block-panel-heading,
.block-panel .checkbox,
.block-panel .message-input
 {
  margin-bottom: 10px;
}
.block-panel .checkbox {
  font-weight: normal;
}
.block-panel .credentials {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.block-panel .credentials:focus {
  z-index: 2;
}
.block-panel input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.block-panel input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.chat-body .message, .chat-body .file-message {
  display: block;
  font-size: 1.2em;
}

#create-message {
  border-bottom-left-radius: 0px;
}

#message-file-container {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#message-file {
  margin-top: 15px;
  padding: 5px;
}