body, body .panel {
  background-color: #eee;
}

.clear {
  clear: both;
}

#top-header {
  position: relative;
  margin: auto;
  padding: 0px 15px;
  box-shadow: 0px 4px 9px 5px rgba(0,0,0,0.2);
  z-index: 100;
  background-color: #dedede;
}

#top-header>.header-left-container {
  float: left;
}

#top-header>.header-right-container {
  float: right;
}

#top-header>.header-left-container, #top-header>.header-right-container {
  text-decoration: none;
}

#top-header>.header-left-container span, #top-header>.header-right-container span {  
  color: #428bca;
  margin: 10px;
  padding: 5px;
}

.main-container {
  padding: 0px;
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
.main-container>.row {
  margin: 0px;
}
.block-panel .block-panel-heading {
  background: #428bca;
  color: #fff;
  padding: 15px;
  margin: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.no-border {
  border-width: 0px;
}

.block-panel {
  margin: auto;
  /* max-width: 600px;
  padding: 15px; */
}
.block-panel .checkbox,
.block-panel .message-input
 {
  margin-bottom: 10px;
}
.block-panel .checkbox {
  font-weight: normal;
}
.block-panel .credentials {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.block-panel .credentials:focus {
  z-index: 2;
}
.block-panel input[type="text"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.block-panel input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
}

.chat-body {
  outline: none;
  border: solid 1px #BBB;
  font-size: 15px;
  margin-top: 10px;
  height: 150px;
  background-color: #fff;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-body .message, .chat-body .file-message {
  display: block;
  font-size: 1.2em;
}

#create-message {
  border-bottom-left-radius: 0px;
}

#message-file-container {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  box-shadow: 0px -4px 9px 5px rgba(0,0,0,0.2);
}
button {
  border-radius: 0px !important;
}

#message-text, #create-message {
  border-radius: 0px;
}

.message-input>.col-lg-12, .row-b>.col-lg-12 {
  padding: 0px;
}

#message-file {
  padding: 5px;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}
#video-chat-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

input[type=file] {
  position: relative;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}
 
input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

.navbar-nav>li>a {
  background: #428bca;
  color: #fff;
  padding: 10px;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: #428bca;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

video#video-chat-content {
  width: 100%;
  height: 100%;
  position: relative;
}
body .modal-body {
  padding: 0px;
}
#video-modal button[data-dismiss="modal"] {
  position: absolute;
  right: 5px;
  top: 5px;
}
video {
  position: relative;
  background: #000;
}
@media screen and (min-width:768px) {

  .remote{  
    width: 85%; 
  }

  .local{ 
    margin-top: 0px;
  }

  #remoteimg{
    border: solid 1px;
    width: 85%;  
  }
  
  .jumbotron{
    margin-top: -45px;
  } 
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {/* 1 */
    width: 12px;
}
::-webkit-scrollbar-button { /* 2 */ }
::-webkit-scrollbar-track {/* 3 */
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-track-piece { /* 4 */ }
::-webkit-scrollbar-thumb {/* 5 */
    background-color: #428bca;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-corner { /* 6 */ }
::-webkit-resizer { /* 7 */ }