doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    title= title

    // Bootstrap core CSS
    link(href="bower-components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
      
    link(href="css/main.css", rel="stylesheet")
    link(href="css/touch.css", rel="stylesheet")
    
    // if lt IE 9
      script(src="../../docs-assets/js/ie8-responsive-file-warning.js)
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    // if lt IE 9
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  
  body
    if user && user.login
      header#top-header
        .header-left-container
          span
            a(href="/lobby") lobby
        .header-right-container
          span= user.login
          span
            a(href="/user/logout") sign out
        .clear
    .main-container
      block content

    script(src="bower-components/jquery/dist/jquery.min.js")
    script(src="bower-components/bootstrap/dist/js/bootstrap.min.js")
    script(type='text/javascript').
      var global = {};
    if user
      script(type='text/javascript').
        global.user = !{JSON.stringify(user)};
    script(src='js/template-builder.js')
    block scripts