extends ./index.jade

block video-chat
  li
    a#video-chat-btn(onclick="startVideoSharing();return false;") Share Video
block content
  .block-panel
    h2.block-panel-heading= room.name    
    .panel.panel-default.no-border
      #message-container.panel-body.chat-body
block footer
  .message-input
    .col-lg-12
      .input-group
        span.input-group-btn
          button#create-message.btn.btn-default(type='button') Send
        input#message-text.form-control(type='text')
      #message-file-container.input-group(style='border-width: 0px;')
        .drop-zone
        input.btn.btn-primary#message-file(type='file')
block scripts
  script(type='text/javascript').
    global.room = !{JSON.stringify(room)};
  script(src="bower-components/socket.io-client/socket.io.js")
  script(src="external/socket.io-stream/socket.io-stream.js")
  script(src="js/color-helper.js")
  script(src="js/message-observer.js")
  script(src="js/input-submiter.js")
  script(src="js/room.js")